<header>
    <nav class="navbar">
        <a routerLink="/" class="navbar-logo">
            <img src="assets/images/logo.png" alt="">
        </a>
        <ul class="navbar-links">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
            <li><a routerLink="/tvshows" routerLinkActive="active">TV Shows</a></li>
            <li><a routerLink="/genres" routerLinkActive="active">Genres</a></li>
        </ul>
    </nav>
</header>